body { background: #3f05cc; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 59px; display: flex; }
.block-metrics-0 { color: #644162; font-size: 14px; margin-bottom: 5px; }
.block-config-1 { color: #34efbb; font-size: 20px; margin-bottom: 5px; }
.block-auth-2 { color: #9361a1; font-size: 21px; margin-bottom: 5px; }
.block-notify-3 { color: #f9193a; font-size: 16px; margin-bottom: 5px; }
.block-auth-4 { color: #53a054; font-size: 16px; margin-bottom: 5px; }